<header class="main-header">
  <div class="container grid">
    <a href="https://bitly.com">
      <img class="" width="100" src="https://docrdsfx76ssb.cloudfront.net/static/1637680286/pages/wp-content/uploads/2021/08/bitly_logo.svg" alt="Bitly Logo">
    </a>
    <div class="main-nav-group">
      <nav class="main-nav">
        <div class="menu">
          <ul class="menu-list unstyled">
            <li class="menu-item">
              <a class="menu-dropdown" href="#" role="button" aria-expanded="false">Why Bitly?</a>
              <ul class="submenu-list unstyled">
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-dropdown" href="#" role="button" aria-expanded="false">Solutions</a>
              <ul class="submenu-list unstyled">
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-dropdown" href="#" role="button" aria-expanded="false">Features</a>
              <ul class="submenu-list unstyled">
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a href="#">
                    <div class="submenu-item-inner">
                      <img width="25" loading="lazy" src="<%= image_path "icons/bit-book.svg" %>" alt="Bit book icon">
                      <div class="description">
                        <span class="label">Bitly 101</span>
                        <span class="summary">An introduction to Bitly’s features</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item"><a href="#">Pricing</a></li>
            <li class="menu-item"><a href="#">Resources</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="account-nav-group">
        <nav class="account-nav">
          <div class="account-menu">
            <ul class="menu-list unstyled">
              <li class="menu-item"><a href="#">Login</a></li>
              <li class="menu-item"><a href="#">Sign up Free</a></li>
              <li class="menu-item"><a class="cta-btn" href="#">Get a Quote</a></li>
            </ul>
          </div>
        </nav>
      </div>
    <button class="mobile-menu-btn"></button>
  </div>
</header>

